langchain>=1.4.3
langchain-openai>=1.6.7

pydantic>=2.13.5
pydantic-ai>=2.52.0
pydantic-settings>=2.15.0
pydantic-extra-types[pycountry]>=2.11.1
fastapi[standard]>=0.142.2

rich>=15.0.0
joblib>=1.6.0
aiocache[redis]>=0.12.3

pytest>=9.1.1
pytest-asyncio>=1.4.0

langchain-qdrant==1.1.0
langchain-classic==1.0.8
langchain-text-splitters==1.1.2

pypdf==6.19.0
xxhash==4.0.1
markitdown[docx]==0.1.8

pymupdf4llm==1.28.2
pymupdf_layout==1.28.2

tiktoken==0.14.0
fastembed==0.8.1
qdrant-client==1.19.1
