pypdf==5.5.0
unstructured[docx]==0.17.2

tiktoken==0.9.0
fastembed==0.7.0

langchain==0.3.25
langchain-qdrant==0.2.0
langchain_openai==0.3.17

common @ git+https://github.com/aureka-team/common.git@v1.1.7
